body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #c7a577;
    -webkit-font-smoothing: antialiased;
    background-color:#c7a577;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*Nav*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 30px;
    color: red;
    text-decoration: none;
    opacity: 0.45;

    transition: opacity 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0px ;
}
.nav__link:hover {
    text-decoration: underline;
    opacity: 0.99;
}

/* Header */

.header {
    width: 100%;
    height: 175px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid red;
    padding: 35px 0S;
    align-items: center;
    
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 75px;

    background: #c7a577 url("images/Illaoi-y-Draven-Cleptomanía-2019.jpg") center no-repeat;
    background-size:cover;
    
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title{
    margin: 0 0 15px 0;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.658);
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 20px;
    color: rgb(170, 9, 9);
    line-height: 1.5;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.473);
    margin-bottom: 50px;
}

/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;

    border-radius: 20px;
    border: 0;
    cursor: pointer;

    font-size: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background 0.2s linear;

}

.btn--red {
    background-color: red;
}

.btn--red:hover {
    background-color: rgb(165, 5, 5);
}

.btn--long {
    min-width: 280px;
}

/*Container*/
.container {

}

/*Plitka*/

.plitka {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 100px 0px;
}

.plitka__item {
    width: 33.33333%;
    text-align: center;
    padding: 0px 30px 50px 30px;
    /* background: transparent; - прозрачный фон*/
    
}

.plitka__icon {
    margin-bottom: 5px;
}

.plitka__title {
    font-size: 20px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.plitka__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: black;
}


/* Suits/Костюмы (образы) */

.costumes {
    display: flex;
    flex-wrap: wrap;
}

.costumes__item {
    width: 25%;
    height: 500px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.costumes__item:hover .costumes__content {
    opacity: 1;
}

.costumes__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.costumes__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.14s linear;

    background-color: rgba(244, 164, 96, 0.6);
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.costumes__title {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.costumes__text {
    font-size: 20px;
    color: #fff;
}

/* Team */


.team {
    margin: 100px 0 70px 0;
    
}

.team__inner {
    display: flex;
    flex-wrap: warp;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding:  0 15px;
    margin-bottom: 30px;
    
}

.team__photo {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: 70%;
    
}

.team__name {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.team__prof {
    border-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
    color: red;
    text-transform: uppercase;
}

.team__text {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: blue;
    margin-bottom: 15px;
}





/* Social */

.social {
    display: flex;
    margin: 5px;
}


.social--footer {
    justify-content: center;
}


.social__item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 1px solid blue;
    border-radius: 10px;

    background-color: palevioletred;
    transition: background 0.2s linear;
}

.social__item1:hover {
    background-color: purple;
    border-radius: 8px;
}

.social__item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 1px solid blue;
    border-radius: 10px;

    background-color: palevioletred;
    transition: background 0.2s linear;
}

.social__item2:hover {
    background-color: #7289da;
    border-radius: 8px;
}


.social__item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 1px solid blue;
    border-radius: 10px;

    background-color: palevioletred;
    transition: background 0.2s linear;
}

.social__item3:hover {
    background-color: red;
    border-radius: 8px;
}

.social--footer .social__item1 {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 6px;
}

.social--footer .social__item1:hover {
    background-color: purple;
}

.social--footer .social__item2 {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
}

.social--footer .social__item2:hover {
    background-color: #7289da;
}

.social--footer .social__item3 {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 8px;
}

.social--footer .social__item3:hover {
    background-color: red;
}


/* Reviews */

.reviews {
    background-color: #c09253;
    overflow: hidden;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    height: 500px;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {    
    margin-bottom: 25px;

    font-family: 'Playfair Display', sans-serif;
    font-style: Bold 700 italic;
    font-size: 36px;
    line-height: 1.2;
    color: white;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}


/* Download */

.download {
    margin: 90px 0 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 5px;
    
    font-style: 28px;
    color:black;
    font-weight: 700;
    margin-bottom: 10px;
}

.download__text {
    margin-bottom: 30px;

    font-style: 13px;
    color:rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
}

/* Footer */

.footer {
    background-color: rgb(90, 72, 33);
}

.footer__inner {
    padding: 70px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.3333%;
    text-align: center;

    padding: 0 15px;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    
}

.footer__adress {
    font-style: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    font-style: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}

.copyright {
    background-color: rgba(58, 47, 23);
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    font-style: 14px;
    color: gray;
    line-height: 1.5;
}

.copyright__text span {
    color: white;
}